/* !HEADER */

#img2, #img3 {
    display: none;
}

.header {
    height: 70rem;
    background-color: var(--background-dark-secondary);
    color: var(--text-color-dark-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    margin-left: 18rem;
    height: 560px;
    width: 420px;
}

.container {
    min-width: 41rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}





.icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container button {
    cursor: pointer;
    padding: 2rem 5.7rem;
    font-size: 2.4rem;
    border-radius: 5rem;
    background-color: var(--text-color-dark-secondary);
    color: var(--background-dark-primary);
    font-weight: bold;
    margin-bottom: 8.5rem;
    border: 0;
}

.container button:hover {
    -webkit-box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 1);
}

/* !ABOUT ME */

.about {
    display: flex;
    flex-direction: column;
    color: var(--text-color-dark-primary);
    background-color: var(--background-dark-primary);
    height: 40rem;
    align-items: center;
}

.about h2 {
    font-size: 3.2rem;
    margin-top: 8rem;
}

.about p {
    font-size: 2.6rem;
    margin-top: 5rem;
    margin: 5rem 18rem 8rem 18rem;
}

/* !SKILLS */

.skills {
    background-color: var(--background-dark-secondary);
    padding: 8rem 2rem;
    overflow: hidden;

}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    border: .5rem solid var(--background-light-primary);
    padding: 3.5rem;
    border-radius: 50%;
}

.skills h2 {
    color: var(--text-color-dark-primary);
    font-size: 3.2rem;
    margin-bottom: 5rem;
}

.skills img {
    width: 12rem;
    height: 12rem;
}

.web {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.mysql {
    filter: invert(99%) sepia(0%) saturate(447%) hue-rotate(171deg) brightness(95%) contrast(86%);
}

/* !PROJECTS */

.small {
    display: none;
}

.projects {
    background-color: var(--background-dark-primary);
    color: var(--text-color-dark-primary);
}



.project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
    position: relative;
}

.project img {
    width: 56rem;
    height: 49rem;
}

.card {
    background-color: var(--background-dark-secondary);
    opacity: 0.95;
    border-radius: 1rem;
    height: 35rem;
    width: 60rem;
}

.card h3 {
    color: var(--text-color-dark-secondary);
    font-size: 2.6rem;
    margin: 5rem 0 3rem 4rem;
}

.card span {
    font-size: 2rem;
}

.card p {
    font-size: 1.8rem;
    margin: 0 6.5rem 4rem 4rem;
}

.card i {
    padding-left: 4rem;
}

.tools {
    margin: 0 0 3rem 4rem;
}

.tools span {
    margin-right: 3rem;
}

.first {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.second {
    position: absolute;
    top: 30%;
    right: 22%;
    transform: translateY(-30%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* !CONTACT */

.contact {
    background-color: var(--background-dark-secondary);
    text-align: center;
    color: var(--text-color-dark-primary);
    padding-bottom: 8rem;
}

.contact div {
    padding-top: 8rem;
}

.contact p {
    padding-top: 6rem;
    width: 45rem;
    font-size: 2rem;
    margin: 0 auto;
}

.contact button {
    padding: 2rem 5.7rem;
    font-size: 2.4rem;
    border-radius: 5rem;
    background-color: var(--text-color-dark-secondary);
    color: var(--background-dark-primary);
    font-weight: bold;
    border: 0;
}

.contact button:hover {
    -webkit-box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 1);
}

.contact-icons {
    padding-top: 6rem;
    width: 33rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

/* !FOOTER */

footer {
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark-primary);
    color: var(--text-color-dark-primary);
    font-size: 2rem;
    font-weight: bold;
}

/* !MEDIA QUERY */

@media only screen and (max-width: 1960px) {
    .first {
        left: 25%;
    }

    .second {
        right: 15%;
    }
}

@media only screen and (max-width: 1440px) {
    .first {
        left: 18%;
    }

    .second {
        right: 5%;
    }

    .about p {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 1024px) {

    /* !HEADER */

    #img1 {
        display: none;
    }

    #img2 {
        display: block;
    }

    .header {
        height: 40rem;
    }

    .header img {
        margin-left: 0;
    }

    .container h1 {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    .container h2 {
        font-size: 2.8rem;
        margin-bottom: 3.8rem;
    }

    .container button {
        font-size: 2rem;
        padding: 1.7rem 3.3rem;
        margin-bottom: 5rem;
    }

    .container .fa-4x {
        font-size: 3.5rem;
    }

    .header img {
        width: 30rem;
        height: 33rem;
    }

    /* !ABOUT  */
    .about {
        height: 27rem;
    }

    .about p {
        font-size: 2rem;
        margin: 2rem 7rem 4rem;
    }

    .about h2 {
        font-size: 2.4rem;
        margin-top: 4rem;
    }

    /* !SKILLS  */

    .skills h2 {
        font-size: 2.4rem;
        margin-top: 4rem;
    }

    .skills h3 {
        font-size: 2.2rem;
        margin-top: 2rem;
    }

    .skills img {
        width: 10rem;
        height: 10rem;
    }

    .web {
        gap: 5rem;
        margin: 5rem 7rem 4rem;
    }

    .second-row {
        padding-bottom: 5rem;
    }

    /* !PROJECTS */

    .projects h2 {
        font-size: 2.4rem;
        padding: 4rem 0 5rem;
    }

    .project {
        padding-bottom: 5rem;
    }

    .first {
        left: 18%;
    }

    .second {
        right: 5%;
    }

    .project img {
        width: 39rem;
        height: 33rem;
    }

    .card {
        width: 42rem;
        height: 24rem;
    }

    .card h3 {
        font-size: 2rem;
        margin: 4rem 0 2rem 3.5rem;
    }

    .tools {
        margin: 0 0 2.5rem 3.5rem;
    }

    .card span {
        font-size: 1.4rem;
    }

    .card p {
        font-size: 1.2rem;
        margin: 0 0 3rem 3.5rem;
    }

    .card .fa-4x {
        font-size: 2rem !important;
    }

    .card a:first-of-type {
        padding-left: 3.5rem;
    }

    .card a:last-of-type {
        padding-left: 1.5rem;
    }

    .card i {
        padding: 0;
    }

    /* !CONTACT */

    .contact div {
        padding-top: 7rem;
    }

    .contact p {
        padding-top: 6rem;
        font-size: 1.5rem;
    }

    .contact-icons {
        padding-top: 5.8rem;
    }

    .contact .fa-4x {
        font-size: 3.5rem;
    }

    .contact button {
        padding: 2rem 5rem;
    }

    /* !FOOTER */

    footer {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    #burgerIcon {
        display: block;
    }

    .first {
        left: 20%;
    }

    .about p {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 760px) {
    /* !NAVIGATION */

    .logo {
        margin-left: 3rem;
    }

    .nav-btn {
        margin-right: 3rem;
    }

    .nav-btn:first-of-type {
        margin-right: 7rem;
    }

    /* !HEADER */

    .header {
        height: 40.6rem;
        align-items: normal;
    }

    #img2 {
        display: none;
    }

    #img3 {
        display: block;
    }

    .header img {
        width: 16.5rem;
        height: 18rem;
        margin-left: 0;
    }

    .container {
        min-width: auto;
    }

    .container h1 {
        font-size: 2.4rem;
        padding: 2.5rem 0 1rem;
        margin: 0;
    }

    .container button {
        margin: 0;
        padding: 0.9rem 1.9rem;
        font-size: 1.6rem;
    }

    .container h2 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    .button-container {
        display: flex;
        padding-top: 3.7rem;
    }

    .button-container form {
        margin-right: 3rem;
    }

    .icons a {
        margin-right: 3rem;
    }

    .icons a:last-of-type {
        margin-right: 0;
    }

    /* !ABOUT */

    .about {
        height: 35.7rem;
        align-items: flex-start;
    }

    .about h2 {
        margin-left: 2rem;
    }

    .about p {
        margin: 2rem 2rem 4rem 2rem;
    }

    /* !SKILLS */

    .skills img {
        width: 7rem;
        height: 7rem;
    }

    .first-row {
        align-items: flex-start;
    }

    .first-row h2, .first-row h3, .second-row h3 {
        margin-left: 2rem;
    }

    .web {
        gap: 3rem;
        margin: 0;
        margin-top: 2rem;
    }

    .second-row {
        flex-direction: column;
    }

    .other {
        align-items: flex-start;
    }

    .other-icons {
        gap: 3rem;
        margin-top: 3rem;
        margin-left: 3rem;
    }

    .skills h3 {
        margin-top: 3rem;
    }

    /* !PROJECTS */

    .projects h2 {
        text-align: left;
        margin-left: 2rem;
        padding-bottom: 2rem;
    }

    .project img {
        width: 35rem;
        height: 16.4rem;
    }

    .card {
        display: none;
    }

    .small {
        display: inline;
    }

    .project {
        flex-direction: column;
        align-items: start;
    }

    .project h3 {
        color: var(--text-color-dark-secondary);
        font-size: 1.8rem;
        display: inline-block;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }

    .project a {
        padding-left: 2rem;
    }

    .project p {
        margin-right: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        font-size: 1.3rem;
    }

    .project img, .tools {
        margin: 0 auto;
    }

    .tools {
        margin-top: 1rem;
    }

    .tools span {
        margin-right: 6rem;
        font-size: 1.4rem;
    }

    .tools span:last-of-type {
        margin-right: 0;
    }

    /* !CONTACTS */

    .contact {
        padding-bottom: 5rem;
    }

    .contact p {
        padding: 4.8rem 7.3rem 0;
        width: auto;
    }

    .contact button {
        padding: 1.3rem 3.5rem;
        font-size: 1.6rem;
    }

    .contact div {
        padding-top: 5rem;
    }

    .contact-icons {
        padding-top: 3rem;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 450px) {
    .about {
        height: 40rem;
    }

    .web {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .project img {
        width: 30rem;
        height: 14.4rem;
    }

    .tools span {
        margin-right: 4rem;
    }

    .nav-btn:first-of-type {
        margin-right: 3rem;
    }

    .toggle {
        padding-right: 3rem;
    }

    .toggle label {
        width: 5rem;
        height: 2.5rem;
    }

    .toggle .circle {
        width: 2.2rem;
        height: 2.2rem;
        top: .15rem;
        left: .15rem;
    }

    @keyframes toggleOn {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(2.5rem);
        }
    }

    @keyframes toggleOff {
        0% {
            transform: translateX(2.5rem);
        }

        100% {
            transform: translateX(0);
        }
    }

}

@media only screen and (max-width: 320px) {
    .logo {
        font-size: 1.8rem;
    }

    .about {
        height: 43rem;
    }

    .contact-icons {
        width: 100%;
    }
}

/* !LIGHT MODE */

.light-mode-primary-background {
    background-color: var(--background-light-primary);
}

.light-mode-primary-background a, .light-mode-primary-background .nav-btn, .light-mode-primary-background span, .light-mode-primary-background h2, .light-mode-primary-background li,
.light-mode-secondary-background a, .light-mode-primary-background p, .light-mode-secondary-background h1, .light-mode-secondary-background h2, .light-mode-secondary-background p,
.light-mode-secondary-background span {
    color: var(--text-color-light-primary);
}

.light-mode-secondary-background, .light-mode-primary-background .card {
    background-color: var(--background-light-secondary);
}

.light-mode-secondary-background button {
    background-color: var(--text-color-light-secondary);
    color: var(--background-light-secondary);
}

header.light-mode-secondary-background h2, .light-mode-primary-background h3, .light-mode-secondary-background h3 {
    color: var(--text-color-light-secondary);
}

.light-mode-secondary-background .mysql {
    filter: invert(8%) sepia(27%) saturate(1335%) hue-rotate(169deg) brightness(91%) contrast(96%);
}

.light-mode-secondary-background .image-container {
    border-color: var(--background-dark-secondary);
}