/* !FOOTER */

footer {
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark-primary);
    color: var(--text-color-dark-primary);
    font-size: 2rem;
    font-weight: bold;
}

/* !MEDIA QUERY */

@media only screen and (max-width: 1024px) {
    /* !FOOTER */

    footer {
        font-size: 1.5rem;
    }
}



@media only screen and (max-width: 450px) {

    

    .nav-btn:first-of-type {
        margin-right: 3rem;
    }

    .toggle {
        padding-right: 3rem;
    }

    .toggle label {
        width: 5rem;
        height: 2.5rem;
    }

    .toggle .circle {
        width: 2.2rem;
        height: 2.2rem;
        top: .15rem;
        left: .15rem;
    }

    @keyframes toggleOn {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(2.5rem);
        }
    }

    @keyframes toggleOff {
        0% {
            transform: translateX(2.5rem);
        }

        100% {
            transform: translateX(0);
        }
    }

}

@media only screen and (max-width: 320px) {
    .logo {
        font-size: 1.8rem;
    }

    .contact-icons {
        width: 100%;
    }
}

/* !LIGHT MODE */

.light-mode-primary-background {
    background-color: var(--background-light-primary);
}

.light-mode-primary-background a, .light-mode-primary-background .nav-btn, .light-mode-primary-background span, .light-mode-primary-background h2, .light-mode-primary-background li,
.light-mode-secondary-background a, .light-mode-primary-background p, .light-mode-secondary-background h1, .light-mode-secondary-background h2, .light-mode-secondary-background p,
.light-mode-secondary-background span {
    color: var(--text-color-light-primary);
}

.light-mode-secondary-background, .light-mode-primary-background .card {
    background-color: var(--background-light-secondary);
}

.light-mode-secondary-background button {
    background-color: var(--text-color-light-secondary);
    color: var(--background-light-secondary);
}

header.light-mode-secondary-background h2, .light-mode-primary-background h3, .light-mode-secondary-background h3 {
    color: var(--text-color-light-secondary);
}

.light-mode-secondary-background .mysql {
    filter: invert(8%) sepia(27%) saturate(1335%) hue-rotate(169deg) brightness(91%) contrast(96%);
}

.light-mode-secondary-background .image-container {
    border-color: var(--background-dark-secondary);
}