*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* !Colors for dark mode */
    --background-dark-primary: #0D1B2A;
    --background-dark-secondary: #1B263B;

    --text-color-dark-primary: #E0E1DD;
    --text-color-dark-secondary: #FF8591;


    /* !Colors for light mode */

    --background-light-primary: #51C1C8;
    --background-light-secondary: #E2FDFF;

    --text-color-light-primary: #0D1B2A;
    --text-color-light-secondary: #D62839;
}

html {
    font-size: 62.5%;
    font-family: Robot, sans-serif;
    scroll-behavior: smooth;
}

/* !NAVIGATION */

.navigation {
    background-color: var(--background-dark-primary);
    color: var(--text-color-dark-primary);
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 3.2rem;
    font-family: "Architects Daughter", cursive;
    margin-left: 7rem;
}

.links-container {
    display: flex;
    margin-right: 7rem;
}

a {
    color: var(--text-color-dark-primary);
    text-decoration: none;
}

.links-container li {
    padding-left: 5rem;
    list-style: none;
    font-size: 3.2rem;
}

.nav-btn {
    background-color: transparent;
    border: 0;
    font-size: 3.2rem;
    color: var(--text-color-dark-primary);
    padding-right: 7rem;
}

.hidden {
    display: none;
}

/* !HEADER */

#img2 {
    display: none;
}

#img3 {
    display: none;
}

.header {
    height: 70rem;
    background-color: var(--background-dark-secondary);
    color: var(--text-color-dark-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    margin-left: 18rem;
    height: 560px;
    width: 420px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.container h2 {
    font-size: 3.2rem;
    color: var(--text-color-dark-secondary);
    margin-bottom: 6rem;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container button {
    padding: 2rem 5.7rem;
    font-size: 2.4rem;
    border-radius: 5rem;
    background-color: var(--text-color-dark-secondary);
    color: var(--background-dark-primary);
    font-weight: bold;
    margin-bottom: 8.5rem;
    border: 0;
}

/* !ABOUT ME */

.about {
    display: flex;
    flex-direction: column;
    color: var(--text-color-dark-primary);
    background-color: var(--background-dark-primary);
    height: 40rem;
    align-items: center;
}

.about h2 {
    font-size: 3.2rem;
    margin-top: 8rem;
}

.about p {
    font-size: 2.6rem;
    margin-top: 5rem;
    margin: 5rem 18rem 8rem 18rem;
}

/* !SKILLS */

.skills {

    background-color: var(--background-dark-secondary);
}

.first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h2 {
    color: var(--text-color-dark-primary);
    font-size: 3.2rem;
    margin-top: 8rem;
}

.skills h3 {
    color: var(--text-color-dark-secondary);
    font-size: 2.6rem;
    margin-top: 3rem;
}

.skills img {
    width: 18rem;
    height: 18rem;
}

.web {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9rem;
    margin: 8rem 7rem 4rem 7rem;
}

.mysql {
    filter: invert(99%) sepia(0%) saturate(447%) hue-rotate(171deg) brightness(95%) contrast(86%);
}

.second-row {
    display: flex;
    padding-bottom: 10rem;
}

.other {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-icons {
    display: flex;
    gap: 8rem;
    margin-top: 8rem;
}

/* !CERTIFICATIONS */

.certifications {
    height: 90rem;
    text-align: center;
    background-color: var(--background-dark-primary);
}

.certifications h2 {
    color: var(--text-color-dark-primary);
    font-size: 3.2rem;
    padding-top: 8rem;
}

.certifications ul {
    margin-top: 4rem;
    list-style-position: inside;
}

.certifications li {
    font-size: 2.6rem;
    color: var(--text-color-dark-primary);
    padding-bottom: 3rem;
}

.certifications-logo {
    padding-top: 2rem;
}

.ffc-logo {
    padding-top: 5rem;
}

/* !PROJECTS */

.small {
    display: none;
}

.projects {
    background-color: var(--background-dark-secondary);
    color: var(--text-color-dark-primary);
}

.projects h2 {
    font-size: 3.2rem;
    padding: 8rem 0;
    text-align: center;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
    position: relative;
}

.project img {
    width: 56rem;
    height: 49rem;
}

.card {
    background-color: var(--background-dark-primary);
    opacity: 0.95;
    border-radius: 1rem;
    height: 35rem;
    width: 60rem;
}

.card h3 {
    color: var(--text-color-dark-secondary);
    font-size: 2.6rem;
    margin: 5rem 0 3rem 4rem;
}

.card span {
    font-size: 2rem;
}

.card p {
    font-size: 1.8rem;
    margin: 0 6.5rem 4rem 4rem;
}

.card i {
    padding-left: 4rem;
}

.tools {
    margin: 0 0 3rem 4rem;
}

.tools span {
    margin-right: 3rem;
}

.first {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.second {
    position: absolute;
    top: 30%;
    right: 22%;
    transform: translateY(-30%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* !CONTACT */

.contact {
    background-color: var(--background-dark-primary);
    height: 38rem;
    text-align: center;
    color: var(--text-color-dark-primary);
}

.contact div {
    padding-top: 8.5rem;
}

.contact p {
    padding-top: 6rem;
    width: 45rem;
    font-size: 2rem;
    margin: 0 auto;
}

.button {
    padding: 2rem 5.7rem;
    font-size: 2.4rem;
    border-radius: 5rem;
    background-color: var(--text-color-dark-secondary);
    color: var(--background-dark-primary);
    font-weight: bold;
    border: 0;
}

.contact-icons {
    padding-top: 6rem;
    width: 33rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

/* !FOOTER */

footer {
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark-secondary);
    color: var(--text-color-dark-primary);
    font-size: 2rem;
    font-weight: bold;
}

/* !MEDIA QUERY */

@media only screen and (max-width: 1960px) {
    .first {
        left: 25%;
    }

    .second {
        right: 15%;
    }
}

@media only screen and (max-width: 1440px) {
    .first {
        left: 18%;
    }

    .second {
        right: 5%;
    }

    .logo, .links-container li {
        font-size: 2.6rem;
    }

    .about p {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 1024px) {

    /* !NAVIGATION */
    .logo {
        font-size: 2.4rem;
    }

    .navigation ul {
        display: none;
    }

    .hidden {
        display: inline;
    }

    /* !HEADER */

    #img1 {
        display: none;
    }

    #img2 {
        display: block;
    }

    .header {
        height: 40rem;
    }

    .container h1 {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    .container h2 {
        font-size: 2.8rem;
        margin-bottom: 3.8rem;
    }

    .container button {
        font-size: 2rem;
        padding: 1.7rem 3.3rem;
        margin-bottom: 5rem;
    }

    .container .fa-4x {
        font-size: 3.5rem;
    }

    .header img {
        width: 30rem;
        height: 33rem;
    }

    /* !ABOUT  */
    .about {
        height: 27rem;
    }

    .about p {
        font-size: 2rem;
        margin: 2rem 7rem 4rem;
    }

    .about h2 {
        font-size: 2.4rem;
        margin-top: 4rem;
    }

    /* !SKILLS  */

    .skills h2 {
        font-size: 2.4rem;
        margin-top: 4rem;
    }

    .skills h3 {
        font-size: 2.2rem;
        margin-top: 2rem;
    }

    .skills img {
        width: 10rem;
        height: 10rem;
    }

    .web {
        gap: 5rem;
        margin: 5rem 7rem 4rem;
    }

    .second-row {
        padding-bottom: 5rem;
    }

    /* !CERTIFICATIONS */

    .certifications {
        height: 62rem;
    }

    .certifications h2 {
        font-size: 2.4rem;
        padding-top: 4rem;
    }

    .certifications ul {
        margin-top: 3rem;
    }

    .certifications li {
        padding-bottom: 2rem;
        font-size: 2rem;
    }

    .ffc-logo {
        padding-top: 4rem;
        width: 27rem;
    }

    .meta {
        width: 15rem;
    }

    .codecademy {
        width: 14rem;
    }

    /* !PROJECTS */

    .projects h2 {
        font-size: 2.4rem;
        padding: 4rem 0 5rem;
    }

    .project {
        padding-bottom: 5rem;
    }

    .first {
        left: 18%;
    }

    .second {
        right: 5%;
    }

    .project img {
        width: 39rem;
        height: 33rem;
    }

    .card {
        width: 42rem;
        height: 24rem;
    }

    .card h3 {
        font-size: 2rem;
        margin: 4rem 0 2rem 3.5rem;
    }

    .tools {
        margin: 0 0 2.5rem 3.5rem;
    }

    .card span {
        font-size: 1.4rem;
    }

    .card p {
        font-size: 1.2rem;
        margin: 0 0 3rem 3.5rem;
    }

    .card .fa-4x {
        font-size: 2rem !important;
    }

    .card a:first-of-type {
        padding-left: 3.5rem;
    }

    .card a:last-of-type {
        padding-left: 1.5rem;
    }

    .card i {
        padding: 0;
    }

    /* !CONTACT */

    .contact {
        height: 33rem;
    }

    .contact div {
        padding-top: 7rem;
    }

    .contact p {
        padding-top: 6rem;
        font-size: 1.5rem;
    }

    .contact-icons {
        padding-top: 5.8rem;
    }

    .contact .fa-4x {
        font-size: 3.5rem;
    }

    .button {
        padding: 2rem 5rem;
    }

    /* !FOOTER */

    footer {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .first {
        left: 20%;
    }

    .about p {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 760px) {
    /* !NAVIGATION */

    .logo {
        margin-left: 3rem;
    }

    .nav-btn {
        padding-right: 0;
    }

    .nav-btn:first-of-type {
        margin-right: 7rem;
    }

    .navigation div {
        margin-right: 3rem;
    }

    /* !HEADER */

    .header {
        height: 40.6rem;
        align-items: normal;
    }

    #img2 {
        display: none;
    }

    #img3 {
        display: block;
    }

    .header img {
        width: 16.5rem;
        height: 18rem;
        margin-left: 0;
    }

    .container h1 {
        font-size: 2.4rem;
        padding: 2.5rem 0 1rem;
        margin: 0;
    }

    .container button {
        margin: 0;
        padding: 0.9rem 1.9rem;
        font-size: 1.6rem;
    }

    .container h2 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    .button-container {
        display: flex;
        padding-top: 3.7rem;
    }

    .button-container form {
        margin-right: 3rem;
    }

    .icons a {
        margin-right: 3rem;
    }

    .icons a:last-of-type {
        margin-right: 0;
    }

    /* !ABOUT */

    .about {
        height: 35.7rem;
        align-items: flex-start;
    }

    .about h2 {
        margin-left: 2rem;
    }

    .about p {
        margin: 2rem 2rem 4rem 2rem;
    }

    /* !SKILLS */

    .skills img {
        width: 7rem;
        height: 7rem;
    }

    .first-row {
        align-items: flex-start;
    }

    .first-row h2, .first-row h3, .second-row h3 {
        margin-left: 2rem;
    }

    .web {
        gap: 3rem;
        margin: 0;
        margin-top: 2rem;
    }

    .second-row {
        flex-direction: column;
    }

    .other {
        align-items: flex-start;
    }

    .other-icons {
        gap: 3rem;
        margin-top: 3rem;
        margin-left: 3rem;
    }

    .skills h3 {
        margin-top: 3rem;
    }

    /* !CERTIFICATIONS */

    .certifications {
        text-align: left;
        padding-left: 2rem;
        height: 42.8rem;
    }

    .certifications h2 {
        font-size: 2.2rem;
    }

    .certifications li {
        font-size: 1.4rem;
        padding-bottom: 1rem;
    }

    .certifications ul {
        margin-top: 2rem;
    }

    .ffc-logo {
        padding-top: 2rem;
        width: 15.7rem;
    }

    .meta {
        width: 7.7rem;
    }

    .codecademy {
        width: 8.6rem;
    }

    /* !PROJECTS */

    .projects h2 {
        text-align: left;
        margin-left: 2rem;
        padding-bottom: 2rem;
    }

    .project img {
        width: 35rem;
        height: 16.4rem;
    }

    .card {
        display: none;
    }

    .small {
        display: inline;
    }

    .project {
        flex-direction: column;
        align-items: start;
    }

    .project h3 {
        color: var(--text-color-dark-secondary);
        font-size: 1.8rem;
        display: inline-block;
        padding-bottom: 1rem;
        margin-left: 2rem;
    }

    .project a {
        padding-left: 2rem;
    }

    .project p {
        margin-right: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        font-size: 1.3rem;
    }

    .project img, .tools {
        margin: 0 auto;
    }

    .tools {
        margin-top: 1rem;
    }

    .tools span {
        margin-right: 6rem;
        font-size: 1.4rem;
    }

    .tools span:last-of-type {
        margin-right: 0;
    }

    /* !CONTACTS */

    .contact {
        height: 28rem;
    }

    .contact p {
        padding: 4.8rem 7.3rem 0;
        width: auto;
    }

    .button {
        padding: 1.3rem 3.5rem;
        font-size: 1.6rem;
    }

    .contact div {
        padding-top: 6rem;
    }

    .contact-icons {
        padding-top: 3rem;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 375px) {
    .about {
        height: 40rem;
    }

    .certifications {
        height: 45rem;
    }

    .web {
        margin-left: 2rem;
        margin-right: 2rem;
        justify-content: left;
    }

    .project img {
        width: 30rem;
        height: 14.4rem;
    }

    .tools span {
        margin-right: 4rem;
    }

    .nav-btn:first-of-type {
        margin-right: 3rem;
    }
}

@media only screen and (max-width: 320px) {
    .logo {
        font-size: 1.8rem;
    }

    .about {
        height: 43rem;
    }

    .certifications {
        height: 47rem;
    }

    .contact-icons {
        width: 100%;
    }
}


/* !LIGHT MODE */

.light-mode-primary-background, .light-mode-secondary-background .card {
    background-color: var(--background-light-primary);
}

.light-mode-primary-background a, .light-mode-primary-background .nav-btn, .light-mode-primary-background span, .light-mode-primary-background h2, .light-mode-primary-background li,
.light-mode-secondary-background a, .light-mode-primary-background p, .light-mode-secondary-background h1, .light-mode-secondary-background h2, .light-mode-secondary-background p,
.light-mode-secondary-background span {
    color: var(--text-color-light-primary);
}

.light-mode-secondary-background {
    background-color: var(--background-light-secondary);
}

.light-mode-secondary-background button, .light-mode-primary-background .button {
    background-color: var(--text-color-light-secondary);
    color: var(--background-light-secondary);
}

header.light-mode-secondary-background h2, .light-mode-secondary-background h3 {
    color: var(--text-color-light-secondary);
}

.light-mode-secondary-background .mysql {
    filter: invert(8%) sepia(27%) saturate(1335%) hue-rotate(169deg) brightness(91%) contrast(96%);
}